{% extends '../_layout.twig' %}

{% block body %}
<div class="content">
	<div class="container">
		<h1>{{ settings.siteName }}</h1>
		<div class="table-responsive">
			<table class="table-responsive--horizontal">
				<thead>
					<tr>
							<th>grundämne</th>
							<th>kemiskt tecken</th>
							<th>kemisk formel</th>
							<th>kemiskt värde</th>
							<th>kemiskt annat</th>
						</tr>
					</thead>

					<tbody>
						<td>syre</td>
						<td>O</td>
						<td>O<sub>2</sub></td>
						<td>O<sub>2</sub></td>
						<td>O<sub>2</sub></td>
					</tr>
					<tr>
						<td>väte</td>
						<td>H</td>
						<td>H<sub>2</sub></td>
						<td>H<sub>2</sub></td>
						<td>H<sub>2</sub></td>
					</tr>
					<tr>
						<td>kväve</td>
						<td>N</td>
						<td>N<sub>2</sub></td>
						<td>N<sub>2</sub></td>
						<td>N<sub>2</sub></td>
					</tr>
					<tr>
						<td>fluor</td>
						<td>F</td>
						<td>F<sub>2</sub></td>
						<td>F<sub>2</sub></td>
						<td>F<sub>2</sub></td>
					</tr>
					<tr>
						<td>klor</td>
						<td>Cl</td>
						<td>Cl<sub>2</sub></td>
						<td>Cl<sub>2</sub></td>
						<td>Cl<sub>2</sub></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="table-responsive">
			<table class="table-responsive--horizontal table-responsive--horizontal--flip">
				<thead>
					<tr>
							<th>grundämne som är skitlångt och säkert inte bra</th>
							<th>kemiskt tecken</th>
							<th>kemisk formel</th>
							<th>kemiskt värde</th>
							<th>kemiskt annat</th>
						</tr>
					</thead>

					<tbody>
						<td>syre</td>
						<td>O</td>
						<td>O<sub>2</sub></td>
						<td>O<sub>2</sub></td>
						<td>O<sub>2</sub></td>
					</tr>
					<tr>
						<td>väte</td>
						<td>H</td>
						<td>H<sub>2</sub></td>
						<td>H<sub>2</sub></td>
						<td>H<sub>2</sub></td>
					</tr>
					<tr>
						<td>kväve</td>
						<td>N</td>
						<td>N<sub>2</sub></td>
						<td>N<sub>2</sub></td>
						<td>N<sub>2</sub></td>
					</tr>
					<tr>
						<td>fluor</td>
						<td>F</td>
						<td>F<sub>2</sub></td>
						<td>F<sub>2</sub></td>
						<td>F<sub>2</sub></td>
					</tr>
					<tr>
						<td>klor</td>
						<td>Cl</td>
						<td>Cl<sub>2</sub></td>
						<td>Cl<sub>2</sub></td>
						<td>Cl<sub>2</sub></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}
