@import "normalize";

.container {
  max-width: 600px;
  margin: 0 auto;
}

table {
  margin-bottom: 30px;
}

.table-responsive {
  overflow-x: scroll;
}

.table-responsive--horizontal {
  vertical-align: top;
  max-width: 100%;
  width: 100%;

  overflow-x: auto;
  white-space: nowrap;

  border-collapse: collapse;
  border-spacing: 0;
}

.table-responsive--horizontal,
.table-responsive--horizontal--flip tbody {
  -webkit-overflow-scrolling: touch;
}

.table-responsive--horizontal th {
  text-align: left;
  text-transform: uppercase;
  background: #5388c2;
  color: #fff;
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 80%;
}

.table-responsive--horizontal th,
.table-responsive--horizontal td {
  padding: 8px 12px;
}

.table-responsive--horizontal th {
  border: 1px solid #5388c2;
}

.table-responsive--horizontal td {
  border: 1px solid #d6d6d6;
}

.table-responsive--horizontal tr:nth-child(even) {
  background: #daecff;
}

.table-responsive--horizontal tr:hover {
  background: #eee;
}

// Flipped version. Add this class to table-responsive--horizontal

.table-responsive--horizontal--flip {
  display: flex;
  overflow: hidden;
}

.table-responsive--horizontal--flip thead {
  display: flex;
  flex-shrink: 0;
  min-width: min-content;
}

.table-responsive--horizontal--flip th {
  flex: 1;
}

.table-responsive--horizontal--flip tbody {
  display: flex;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  flex: 1;
}

.table-responsive--horizontal--flip tr {
  display: flex;
  flex-direction: column;
  min-width: min-content;
  flex: 1 0 auto;
}

.table-responsive--horizontal--flip td,
.table-responsive--horizontal--flip th {
  display: block;
}

.table-responsive--horizontal--flip td {
  border-left: 0;
}

// border-collapse is no longer active
.table-responsive--horizontal--flip th:not(:last-child),
.table-responsive--horizontal--flip td:not(:last-child) {
  border-bottom: 0;
}
